<!-- <div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="yok-title contact__title">Contact</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-5">
                <form class="cont-form" action="/subscribe" method="post" accept-charset="utf-8">
                    <input class="cont-form__email" type="email" value="" placeholder="Your Email">
                    <input class="cont-form__subject" type="text" placeholder="Subject">
                    <input class="cont-form__company" type="text" placeholder="Company">
                    <textarea class="cont-form__message" rows="" cols="3" placeholder="Your Messages"></textarea>
                    <input type="submit" class="yok-btn cont-form__btn" value="Send Message">
                </form>
            </div>

            <div class="col-sm-12 col-md-5 offset-md-2">
                <h5 class="contact__subtitle">You Can Find Us Here</h5>
                <p class="contact__addr">
                    <i class="fa fa-home"></i>
                    Jl.Danau Bratan sekian nomer sekian, Sawojajar Malang</p>
                <a href="#" class="contact__find">Find on maps</a>
                <p class="contact__tel">
                    <i class="fa fa-user"></i>
                    (+62) 8816723812</p>
                <p class="contact__tel">
                    <i class="fa fa-user"></i>
                    (+62) 8512371632</p>
            </div>

        </div>
        <span class="contact__or">or</span>
    </div>
</div> -->
<div class="contact">
    <div class="container sc">
        <div class="row">
            <h2 class="contact__h2 col text-center">contact</h2>
        </div>
        <div class="row">
            <form action="/contact" method="post" accept-charset="utf-8" role="form" class="col-sm-5 form-group contact__form">
                <input class="form-control contact__form--input" type="text" placeholder="your email">
                <input class="form-control contact__form--input" type="text" placeholder="company">
                <input class="form-control contact__form--input pull-right" type="text" placeholder="subject">
                <textarea class="form-control contact__form--textarea" rows="2" placeholder="your messages"></textarea>
                <button class="btn btn-default contact__form--button pull-right" type="submit">send message</button>
            </form>
            <span class="col-sm-2 text-center contact__find--or">OR</span>
            <span class="col-sm-5 contact__find">
                <h3 class="contact__find--h3">You Can Find Us Here</h3>
                <div class="contact__find--item">
                    <i class="fa fa-home contact__find--i"></i>
                    <p>Jl.Danau Bratan sekian nomer sekian, Sawojajar Malang</p>
                    <a href="javascript:void(0);" class="contact__find--map">finds on map</a>
                </div>
                <div class="contact__find--item">
                    <i class="fa fa-user contact__find--i"></i>
                    <a href="href="tel:+628816723812">(+62) 8816723812</a>
                </div class="contact__find--item">
                <div class="contact__find--item">
                    <i class="fa fa-user contact__find--i"></i>
                    <a href="tel:+628512371632">(+62) 8512371632</a>
                </div>
            </span>
        </div>
    </div>
</div>