<footer class="footer">
    <div class="container">


        <ul class="footer-nav">
            <li class="footer-nav__item"><a href="" class="footer-nav__link">Terms & Condition</a></li>
            <li class="footer-nav__item"><a href="" class="footer-nav__link">Policy</a></li>
            <li class="footer-nav__item"><a href="" class="footer-nav__link">Privacy</a></li>
        </ul>

        <ul class="footer-social">
            <li class="footer-social__item">
                 <a href="" class="footer-social__link">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
            </li>
            <li class="footer-social__item">
                 <a href="" class="footer-social__link">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </li>
            <li class="footer-social__item">
                 <a href="" class="footer-social__link">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
        <p class="footer__copyright">copyright@YokMalang. Allright Reserved. 2015</p>
    </div>
    <div class="yok-colors">
        <div class="yok-colors__item yok-colors__item--yellow"></div>
        <div class="yok-colors__item yok-colors__item--green"></div>
        <div class="yok-colors__item yok-colors__item--turquoise"></div>
        <div class="yok-colors__item yok-colors__item--blue"></div>
        <div class="yok-colors__item yok-colors__item--dark"></div>
    </div>
</footer>